html,
body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

a {
    color: aliceblue;
}

footer {
    background-color: darkgray;
    top: 0;
    width: 100%;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.menu {
    width: 15%;
    background-color: black;
    display: flex;
    padding: 10px 20px 0px;
}

.menu ul {
    padding: 20px;
    margin-top: 80px;
}

.menu ul li {
    margin: 30px 0px;
    list-style: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: goldenrod;
    cursor: pointer;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header {
    height: 400px;
    min-height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    min-height: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media ul li {
    margin: 0 10px;
    list-style: none;
}

.footer-social-media ul li a:hover {
    color: darkmagenta;
}

.form {
    display: flex;
    flex-direction: column;
}

.informacoes {
    display: flex;

}
.sobre {
    width: 100%;
    color: #2b3a37;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.titulo {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 48px;
    color: #2b3a37;
    font-weight: 100;
    margin: 0;
}
.resumo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#servicos{
    font-size: 20px;
}

#agendamento table {
    border: 1px solid gray;
    -webkit-box-shadow: 10px 8px 21px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 8px 21px 10px rgba(0, 0, 0, 0.6);
}

#agendamento table tbody {
    text-align: center;
}

#agendamento table tbody tr:nth-child(even) {
    background-color: cornflowerblue;

}

#agendamento thead th {
    background-color: black;
    color: #f1f1f1;
}